extends ./src/components/layout.pug

block title
    | Gravite Eduventure | Home Page

block page
    - pageIndex = 0
    main#Homepage.Page__Wrapper
        //- Navbar
        include ./src/components/navbar.pug

        //- Go To Top
        include ./src/components/goToTop.pug
        
        //- Landing
        section.Homepage__Landing
            include ./src/components/carousel.pug
        //- About Us
        
        section.Homepage__About.background-white
            .container
                .Homepage__About-Wrapper
                    header
                        h3.center.capitalize.text-green About Us
                    .Homepage__About-Body
                        .Homepage__About-Image
                            svg(data-name='Layer 1' version='1.1' viewbox='0 0 781 756' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                                defs
                                    lineargradient#b3f40125-0363-42ff-a31c-61eb5d655202(x1='117' x2='117' y1='238' y2='6.21' gradientunits='userSpaceOnUse')
                                    stop(stop-color='gray' stop-opacity='.25' offset='0')
                                    stop(stop-color='gray' stop-opacity='.12' offset='.54')
                                    stop(stop-color='gray' stop-opacity='.1' offset='1')
                                    lineargradient#27ca4b3e-9552-41ad-8ba5-de2574048d20(x1='385' x2='385' y1='490' y2='258' xlink:href='#b3f40125-0363-42ff-a31c-61eb5d655202')
                                    lineargradient#98d2c4cc-353c-49f3-ae94-49dceb95b558(x1='385' x2='385' y1='232' y2='.51' xlink:href='#b3f40125-0363-42ff-a31c-61eb5d655202')
                                        lineargradient#1b187342-85ad-4174-acd7-e912b9a9009d(x1='661' x2='661' y1='232' xlink:href='#b3f40125-0363-42ff-a31c-61eb5d655202')
                                        lineargradient#5629c76b-b43c-4c6e-ad7d-c063ce4611c3(x1='116' x2='116' y1='483' y2='251' xlink:href='#b3f40125-0363-42ff-a31c-61eb5d655202')
                                            lineargradient#94554b54-cbd9-41c5-8f29-6b4786d89c61(x1='666' x2='666' y1='495' y2='264' xlink:href='#b3f40125-0363-42ff-a31c-61eb5d655202')
                                            lineargradient#897c833c-fa4a-4dad-90f9-1cb0d950ec3f(x1='117' x2='117' y1='743' y2='511' xlink:href='#b3f40125-0363-42ff-a31c-61eb5d655202')
                                                lineargradient#b88de7bb-a3e6-477b-a3c4-5c16e389ed83(x1='392' x2='392' y1='756' y2='525' xlink:href='#b3f40125-0363-42ff-a31c-61eb5d655202')
                                title team
                                g(opacity='.5')
                                    circle(cx='117' cy='122' r='116' fill='url(#b3f40125-0363-42ff-a31c-61eb5d655202)')
                                circle(cx='117' cy='121' r='113' fill='#f5f5f5')
                                path(transform='translate(-209 -71.8)' d='m326 307a113 113 0 0 0 62.4-18.7c-4.18-22.8-20.1-24.2-20.1-24.2h-87.7s-15 1.23-19.7 22.2a113 113 0 0 0 65.1 20.6z' fill='#20a39e')
                                circle(cx='116' cy='119' r='50.3' fill='#333')
                                path(d='m98.2 165h35.1v28.1a17.5 17.5 0 0 1-17.5 17.5 17.5 17.5 0 0 1-17.5-17.5v-28.1a0 0 0 0 1-0.01 0z' opacity='.1')
                                path(d='m102 163h28.4a3.35 3.35 0 0 1 3.35 3.35v24.7a17.5 17.5 0 0 1-17.5 17.5 17.5 17.5 0 0 1-17.5-17.5v-24.7a3.35 3.35 0 0 1 3.34-3.35z' fill='#be7c5e')
                                path(transform='translate(-209 -71.8)' d='m308 250a50.5 50.5 0 0 0 35.1 0.1v-4.31h-35.1z' opacity='.1')
                                circle(cx='116' cy='130' r='50.3' fill='#be7c5e')
                                path(transform='translate(-209 -71.8)' d='m295 181c0.59-2.17 1.33-4.56 3.28-5.69 1.54-0.9 3.45-0.76 5.23-0.67 13.9 0.76 27.7-2.41 41.2-5.72 7.73-1.89 16-4.19 21-10.4s-1.52-25.8-9.13-28.1c-5-1.53-10.8 1.32-15.5-0.92-2.11-1-3.66-2.87-5.48-4.33-3.73-3-8.52-4.21-13.2-5.35-5.42-1.34-11.3-2.65-16.4-0.5-4 1.66-6.92 5.17-10.7 7.25-7.21 4-16 2.14-24.3 2.12-2.79 0-6.12 0.56-7.23 3.12-0.75 1.74-0.15 3.72-0.07 5.61 0.24 6-4.71 10.7-8.86 15s-8.07 10.5-5.45 15.9c1 2.05 2.83 3.6 3.87 5.63 1.79 3.52 0.89 7.77 1.54 11.7a29.3 29.3 0 0 0 3.27 8.4c3.08 6 18.6 38.3 25.7 30.1 3.44-4 4-15.6 5.39-20.8q2.88-11.2 5.88-22.3z' fill='#333')
                                ellipse(cx='80.1' cy='128' rx='4.68' ry='8.77' fill='#be7c5e')
                                g(opacity='.5')
                                    circle(cx='385' cy='374' r='116' fill='url(#27ca4b3e-9552-41ad-8ba5-de2574048d20)')
                                circle(cx='385' cy='374' r='113' fill='#f5f5f5')
                                path(transform='translate(-209 -71.8)' d='m595 559a113 113 0 0 0 62.3-18.7c-4.18-22.8-20.1-24.2-20.1-24.2h-87.7s-15 1.23-19.7 22.2a113 113 0 0 0 65.2 20.6z' fill='#20a39e')
                                circle(cx='384' cy='371' r='54.8' fill='#f55f44')
                                path(d='m367 417h35.1v28.1a17.5 17.5 0 0 1-17.5 17.5 17.5 17.5 0 0 1-17.5-17.5v-28.1a0 0 0 0 1-0.01 0z' opacity='.1')
                                path(d='m370 416h28.4a3.35 3.35 0 0 1 3.35 3.35v24.7a17.5 17.5 0 0 1-17.5 17.5 17.5 17.5 0 0 1-17.5-17.5v-24.7a3.35 3.35 0 0 1 3.35-3.35z' fill='#fda57d')
                                path(transform='translate(-209 -71.8)' d='m576 502a50.5 50.5 0 0 0 35.1 0.1v-4.31h-35.1z' opacity='.1')
                                circle(cx='384' cy='382' r='50.3' fill='#fda57d')
                                g(fill='#f55f44')
                                    circle(cx='384' cy='315' r='20.2')
                                    circle(cx='384' cy='296' r='13.3')
                                    path(transform='translate(-209 -71.8)' d='m585 398a20.2 20.2 0 0 1-10.6-25.9c-0.14 0.28-0.28 0.57-0.41 0.86a20.2 20.2 0 1 0 36.9 16.6c0.13-0.29 0.25-0.58 0.37-0.88a20.2 20.2 0 0 1-26.4 9.33z')
                                path(transform='translate(-209 -71.8)' d='m558 408s21.2 43 81 18l-13.9-21.8-24.7-8.86z' opacity='.1')
                                path(transform='translate(-209 -71.8)' d='m558 408s21.2 43 81 18l-13.9-21.8-24.7-8.86z' fill='#f55f44')
                                path(transform='translate(-209 -71.8)' d='m574 392a250 250 0 0 1 39.2 0s-28.9 2.69-39.2 0z' fill='#333')
                                path(transform='translate(-209 -71.8)' d='m596 353a13.3 13.3 0 0 0-3 0.23h0.77a13.3 13.3 0 0 1 2 26.3 13.3 13.3 0 0 0 0.24-26.6z' fill='#f55f44')
                                ellipse(cx='334' cy='382' rx='4.68' ry='8.77' fill='#fda57d')
                                ellipse(cx='434' cy='382' rx='4.68' ry='8.77' fill='#fda57d')
                                polygon(points='345 337 355 332 357 340 351 344' fill='#f55f44')
                                g(opacity='.5')
                                    circle(cx='385' cy='116' r='116' fill='url(#98d2c4cc-353c-49f3-ae94-49dceb95b558)')
                                circle(cx='385' cy='116' r='113' fill='#f5f5f5')
                                path(transform='translate(-209 -71.8)' d='m550 189s-12.9 63.4-19.9 59.8c0 0 67.7 58.5 127 0 0 0-10.5-44.6-25.7-59.8z' fill='#333')
                                path(transform='translate(-209 -71.8)' d='m595 301a113 113 0 0 0 62.4-18.7c-4.18-22.8-20.1-24.2-20.1-24.2h-87.7s-15 1.23-19.7 22.2a113 113 0 0 0 65.2 20.6z' fill='#20a39e')
                                circle(cx='384' cy='113' r='50.3' fill='#333')
                                path(d='m366 159h35.1v28.1a17.5 17.5 0 0 1-17.5 17.5 17.5 17.5 0 0 1-17.5-17.5v-28.1a0 0 0 0 1-0.04 0z' opacity='.1')
                                path(d='m370 158h28.4a3.35 3.35 0 0 1 3.35 3.35v24.7a17.5 17.5 0 0 1-17.5 17.5 17.5 17.5 0 0 1-17.5-17.5v-24.7a3.35 3.35 0 0 1 3.31-3.34z' fill='#be7c5e')
                                path(transform='translate(-209 -71.8)' d='m576 244a50.5 50.5 0 0 0 35.1 0.1v-4.31h-35.1z' opacity='.1')
                                circle(cx='384' cy='124' r='50.3' fill='#be7c5e')
                                path(transform='translate(-209 -71.8)' d='m545 177h95.9s-8.19-38.7-44.4-36.2-51.5 36.2-51.5 36.2z' fill='#333')
                                ellipse(cx='335' cy='122' rx='4.68' ry='8.77' fill='#be7c5e')
                                ellipse(cx='433' cy='122' rx='4.68' ry='8.77' fill='#be7c5e')
                                path(transform='translate(-209 -71.8)' d='m545 178h95.9s-8.19-38.7-44.4-36.2-51.5 36.2-51.5 36.2z' opacity='.1')
                                g(opacity='.5')
                                    circle(cx='661' cy='116' r='116' fill='url(#1b187342-85ad-4174-acd7-e912b9a9009d)')
                                circle(cx='661' cy='115' r='113' fill='#f5f5f5')
                                path(transform='translate(-209 -71.8)' d='m871 301a113 113 0 0 0 62.4-18.7c-4.19-22.8-20.1-24.2-20.1-24.2h-87.7s-15 1.23-19.7 22.2a113 113 0 0 0 65.1 20.6z' fill='#20a39e')
                                circle(cx='660' cy='113' r='54.8' fill='#72351c')
                                path(d='m643 158h35.1v28.1a17.5 17.5 0 0 1-17.5 17.6 17.5 17.5 0 0 1-17.5-17.5v-28.1a0 0 0 0 1-0.01 0z' opacity='.1')
                                path(d='m646 157h28.4a3.35 3.35 0 0 1 3.35 3.35v24.7a17.5 17.5 0 0 1-17.5 17.5 17.5 17.5 0 0 1-17.5-17.5v-24.7a3.35 3.35 0 0 1 3.35-3.35z' fill='#fda57d')
                                path(transform='translate(-209 -71.8)' d='m852 243a50.5 50.5 0 0 0 35.1 0.1v-4.31h-35.1z' opacity='.1')
                                circle(cx='660' cy='124' r='50.3' fill='#fda57d')
                                path(transform='translate(-209 -71.8)' d='m834 150s21.2 43 81 18l-13.9-21.8-24.7-8.86z' opacity='.1')
                                g(fill='#72351c')
                                    path(transform='translate(-209 -71.8)' d='m834 149s21.2 43 81 18l-13.9-21.8-24.7-8.86z')
                                    path(transform='translate(-209 -71.8)' d='m834 146a29 29 0 0 1 7.2-11.7c9.89-9.78 26.1-11.8 34.4-23a6.51 6.51 0 0 1-3 9.18c8-0.05 17.2-0.75 21.7-7.31a14.9 14.9 0 0 1-2.51 15.7c7.06 0.32 14.6 5.11 15.1 12.2 0.3 4.7-2.64 9.15-6.51 11.8s-8.53 3.91-13.1 4.91c-13.4 3-62 15.4-53.2-11.8z')
                                    path(transform='translate(-209 -71.8)' d='m920 196h-1.33l-25.9 23.1c-25-11.7-43.3 0-43.3 0l-27.2-22.1-2.74 0.34a50.3 50.3 0 0 0 101-1.29zm-50.4 32c-9.78 0-17.7-2-17.7-4.43s7.93-4.43 17.7-4.43 17.7 2 17.7 4.43-7.93 4.43-17.7 4.43z')
                                ellipse(cx='610' cy='124' rx='4.68' ry='8.77' fill='#fda57d')
                                ellipse(cx='711' cy='124' rx='4.68' ry='8.77' fill='#fda57d')
                                g(opacity='.5')
                                    circle(cx='116' cy='367' r='116' fill='url(#5629c76b-b43c-4c6e-ad7d-c063ce4611c3)')
                                circle(cx='116' cy='366' r='113' fill='#f5f5f5')
                                path(transform='translate(-209 -71.8)' d='m325 552a113 113 0 0 0 62.4-18.7c-4.18-22.8-20.1-24.2-20.1-24.2h-87.8s-15 1.23-19.7 22.2a113 113 0 0 0 65.2 20.6z' fill='#20a39e')
                                circle(cx='115' cy='364' r='54.8' fill='#333')
                                path(d='m97.3 409h35.1v28.1a17.5 17.5 0 0 1-17.5 17.5 17.5 17.5 0 0 1-17.5-17.5v-28.1a0 0 0 0 1-0.01 0z' opacity='.1')
                                path(d='m101 408h28.4a3.35 3.35 0 0 1 3.35 3.35v24.7a17.5 17.5 0 0 1-17.5 17.5 17.5 17.5 0 0 1-17.6-17.5v-24.8a3.35 3.35 0 0 1 3.35-3.35z' fill='#fdb797')
                                path(transform='translate(-209 -71.8)' d='m307 494a50.5 50.5 0 0 0 35.1 0.1v-4.34h-35.1z' opacity='.1')
                                circle(cx='115' cy='375' r='50.3' fill='#fdb797')
                                path(transform='translate(-209 -71.8)' d='m288 401s21.2 43 81 18l-13.9-21.8-24.7-8.86z' opacity='.1')
                                path(transform='translate(-209 -71.8)' d='m288 400s21.2 43 81 18l-13.9-21.8-24.7-8.86z' fill='#333')
                                path(transform='translate(-209 -71.8)' d='m288 397a29 29 0 0 1 7.2-11.7c9.89-9.78 26.1-11.8 34.4-23a6.51 6.51 0 0 1-3 9.18c8-0.05 17.2-0.75 21.7-7.31a14.9 14.9 0 0 1-2.51 15.7c7.06 0.32 14.6 5.11 15.1 12.2 0.3 4.7-2.64 9.15-6.51 11.8s-8.54 3.93-13.1 4.95c-13.4 2.98-62 15.4-53.2-11.9z' fill='#333')
                                ellipse(cx='64.7' cy='374' rx='4.68' ry='8.77' fill='#fdb797')
                                ellipse(cx='165' cy='374' rx='4.68' ry='8.77' fill='#fdb797')
                                g(opacity='.5')
                                    circle(cx='666' cy='380' r='116' fill='url(#94554b54-cbd9-41c5-8f29-6b4786d89c61)')
                                circle(cx='666' cy='379' r='113' fill='#f5f5f5')
                                path(transform='translate(-209 -71.8)' d='m875 565a113 113 0 0 0 62.4-18.7c-4.18-22.8-20.1-24.2-20.1-24.2h-87.7s-15 1.23-19.7 22.2a113 113 0 0 0 65.2 20.6z' fill='#20a39e')
                                path(d='m647 422h35.1v28.1a17.5 17.5 0 0 1-17.5 17.5 17.5 17.5 0 0 1-17.6-17.5v-28.1z' opacity='.1')
                                path(d='m650 421h28.4a3.35 3.35 0 0 1 3.35 3.35v24.7a17.5 17.5 0 0 1-17.5 17.5 17.5 17.5 0 0 1-17.6-17.5v-24.7a3.35 3.35 0 0 1 3.35-3.35z' fill='#fdb797')
                                path(transform='translate(-209 -71.8)' d='m856 507a50.5 50.5 0 0 0 35.1 0.1v-4.31h-35.1z' opacity='.1')
                                g(fill='#fdb797')
                                    circle(cx='665' cy='387' r='50.3')
                                    ellipse(cx='615' cy='385' rx='4.68' ry='8.77')
                                    ellipse(cx='714' cy='385' rx='4.68' ry='8.77')
                                g(fill='none' stroke='#333' stroke-miterlimit='10' stroke-width='2')
                                    rect(x='634' y='388' width='21.5' height='10.8' rx='4.35' ry='4.35')
                                    rect(transform='translate(1578 858) rotate(180)' x='883' y='459' width='21.5' height='10.8' rx='4.35' ry='4.35')
                                    path(transform='translate(-209 -71.8)' d='m864 460s6.82-3.7 19.5 0')
                                path(transform='translate(-209 -71.8)' d='m909 423 12.3 28.7s15.1-19-12.3-28.7z' fill='#858585')
                                line(x1='695' x2='714' y1='393' y2='377' fill='none' stroke='#333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
                                path(transform='translate(-209 -71.8)' d='m839 423-12.3 28.7s-15.1-19 12.3-28.7z' fill='#858585')
                                line(x1='634' x2='615' y1='393' y2='377' fill='none' stroke='#333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
                                g(opacity='.5')
                                    circle(cx='117' cy='627' r='116' fill='url(#897c833c-fa4a-4dad-90f9-1cb0d950ec3f)')
                                circle(cx='117' cy='627' r='113' fill='#f5f5f5')
                                path(transform='translate(-209 -71.8)' d='m389 709c0 41.8-27.3 88.3-60.9 88.3s-60.9-46.5-60.9-88.3 27.3-63 60.9-63 60.9 21.2 60.9 63z' fill='#fdd835')
                                path(transform='translate(-209 -71.8)' d='m326 812a113 113 0 0 0 62.4-18.7c-4.18-22.8-20.1-24.2-20.1-24.2h-87.7s-15 1.23-19.7 22.2a113 113 0 0 0 65.1 20.6z' fill='#20a39e')
                                path(d='m98.2 670h35.1v28.1a17.5 17.5 0 0 1-17.5 17.5 17.5 17.5 0 0 1-17.5-17.5v-28.1a0 0 0 0 1-0.01 0z' opacity='.1')
                                path(d='m102 668h28.4a3.35 3.35 0 0 1 3.35 3.35v24.7a17.5 17.5 0 0 1-17.5 17.5 17.5 17.5 0 0 1-17.5-17.5v-24.7a3.35 3.35 0 0 1 3.34-3.35z' fill='#fdb797')
                                path(transform='translate(-209 -71.8)' d='m308 755a50.5 50.5 0 0 0 35.1 0.1v-4.31h-35.1z' opacity='.1')
                                g(fill='#fdb797')
                                    circle(cx='116' cy='635' r='50.3')
                                    ellipse(cx='66.6' cy='633' rx='4.68' ry='8.77')
                                    ellipse(cx='165' cy='633' rx='4.68' ry='8.77')
                                path(transform='translate(-209 -71.8)' d='m281 680s28.4 38.9 93.6 25.6c0 0 7.28-8.86-10.4-36.1s-67.1-22.8-83.2 10.4z' opacity='.1')
                                path(transform='translate(-209 -71.8)' d='m281 679s28.4 38.9 93.6 25.6c0 0 7.28-8.86-10.4-36.1s-67.1-22.8-83.2 10.4z' fill='#fdd835')
                                g(opacity='.5')
                                    circle(cx='392' cy='641' r='116' fill='url(#b88de7bb-a3e6-477b-a3c4-5c16e389ed83)')
                                circle(cx='392' cy='640' r='113' fill='#f5f5f5')
                                path(transform='translate(-209 -71.8)' d='m664 723c0 37.7-27.1 56.3-62.3 56.3s-65.2-18.6-65.2-56.3 28.5-68.3 63.7-68.3 63.7 30.6 63.7 68.3z' fill='#333')
                                path(transform='translate(-209 -71.8)' d='m602 825a113 113 0 0 0 62.4-18.7c-4.18-22.8-20.1-24.2-20.1-24.2h-87.7s-15 1.23-19.7 22.2a113 113 0 0 0 65.1 20.6z' fill='#20a39e')
                                path(d='m373 683h35.1v28.1a17.5 17.5 0 0 1-17.6 17.6 17.5 17.5 0 0 1-17.5-17.5v-28.1a0 0 0 0 1 0.03 0z' opacity='.1')
                                path(d='m377 682h28.4a3.35 3.35 0 0 1 3.35 3.35v24.7a17.5 17.5 0 0 1-17.6 17.5 17.5 17.5 0 0 1-17.5-17.5v-24.7a3.35 3.35 0 0 1 3.35-3.35z' fill='#fda57d')
                                path(transform='translate(-209 -71.8)' d='m583 768a50.5 50.5 0 0 0 35.1 0.1v-4.31h-35.1z' opacity='.1')
                                circle(cx='391' cy='648' r='50.3' fill='#fda57d')
                                path(transform='translate(-209 -71.8)' d='m542 723s31.3-3.8 55-34.2c0 0 31.3 34.5 53.1 30.7 0 0 12.6-13.3 0-26.6s-22.5-30-39.2-27.8-37.3 3.16-46.2 11.1-22.7 46.8-22.7 46.8z' opacity='.1')
                                path(transform='translate(-209 -71.8)' d='m542 723s31.3-3.8 55-34.2c0 0 31.3 34.5 53.1 30.7 0 0 12.6-13.3 0-26.6s-22.5-30-39.2-27.8-37.3 3.12-46.1 11.1-22.8 46.8-22.8 46.8z' fill='#333')
                                ellipse(cx='341' cy='648' rx='4.68' ry='8.77' fill='#fda57d')
                                ellipse(cx='441' cy='648' rx='4.68' ry='8.77' fill='#fda57d')

                                
                        .Homepage__About-Text
                            p.lead Welcome to Gravite Eduventure !
                            p A world none like anything you have experienced before. A world where innovation topples experience, understanding precedes facts and logical reasoning aces over set conventions. Here, new ideas bubble out of sheer curiosity and learning is made smart rather than hard. Scores and marks are perceived as a by-product rather than goals.
                            .Homepage__About-Text-Link
                                a.btn.btn-green.with-icon#Homepage__About-Learn-More(href="./about.pug")
                                    | Learn More About Us
                                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                        path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                                        path(d="M0 0h24v24H0z" fill="none")

        //- Courses
        section.Homepage__Courses.background-white
            .container
                .Homepage__Courses-Wrapper
                    header
                        h3.center.capitalize.text-green Courses
                    p.Homepage__Courses-Marquee Summer Crash Course for class 10th & 12th in April and May. Complete Syllabus will be completed in Math,Science & Commerce (CBSE, ICSE, PUC, ISC)
                    .Homepage__Courses-Body
                        .Homepage__Courses-Card
                            .Homepage__Courses-Card-Image
                                img(src="./src/images/courses/2.jpeg", alt="")
                                .Homepage__Courses-Card-Image-Cover
                                    ul
                                        li Designed specifically for board exam prep.
                                        li Greater focus on the explanation of concepts
                                        li Focus on practising best approaches to answer board exam quesions as suggested by the board themselves.
                                        li Includes all boards - ICSE, CBSE, IGSCE, IB,ISC, PUC,STATE 
                                    a(href="./courses.pug").btn.btn-green.with-icon
                                        | Read More
                                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                            path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                                            path(d="M0 0h24v24H0z" fill="none")
                            .Homepage__Courses-Card-Details
                                h4 Board Exams
                                

                        .Homepage__Courses-Card
                            .Homepage__Courses-Card-Image
                                img(src="./src/images/courses/1.jpeg", alt="")
                                .Homepage__Courses-Card-Image-Cover
                                    ul
                                        li Integrated program designed for class XII students.
                                        li Includes IIT-JEE / NEET, Board exam and KVPY prep.
                                    a(href="./courses.pug").btn.btn-green.with-icon
                                        | Read More
                                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                            path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                                            path(d="M0 0h24v24H0z" fill="none")

                            .Homepage__Courses-Card-Details
                                h4 Competitive Exams
        //- Class Tutors
        section.Homepage__Class-Tutors.background-white
            .container
                .Homepage__Class-Tutors-Wrapper
                    header
                        h3.center.capitalize.text-green Our Tutors
                    .Homepage__Class-Tutors-Body
                        .Homepage__Class-Tutors-Text
                            p.lead We have a dedicated team of experienced tutors, who are highly qualified - mostly IIT and NIT alumni.
                            p Our team of tutors are very supportive and will challenge your capabilities to help you understand topics better as well as maximize your chances of success.

                            .Homepage__Class-Tutors-Text-Link
                                a.btn.btn-green.with-icon(href="./about.pug#AboutPage__Team")
                                    | Learn more about our tutors
                                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                        path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                                        path(d="M0 0h24v24H0z" fill="none")
                        .Homepage__Class-Tutors-Image
                            svg(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 819 750')
                                defs
                                    lineargradient#a(x1='391' x2='391' y1='182' y2='30.7' gradientunits='userSpaceOnUse')
                                    stop(offset='0' stop-color='gray' stop-opacity='.25')
                                    stop(offset='.54' stop-color='gray' stop-opacity='.12')
                                    stop(offset='1' stop-color='gray' stop-opacity='.1')
                                    lineargradient#b(x1='711' x2='711' y1='187' y2='36' xlink:href='#a')
                                    lineargradient#c(x1='551' x2='551' y1='311' y2='160' xlink:href='#a')
                                        lineargradient#d(x1='66.7' x2='66.7' y1='439' y2='306' xlink:href='#a')
                                        lineargradient#e(x1='77.3' x2='77.3' y1='433' y2='299' xlink:href='#a')
                                            lineargradient#f(x1='509' x2='509' y1='292' y2='202' xlink:href='#a')
                                            lineargradient#g(x1='372' x2='372' y1='825' y2='148' xlink:href='#a')
                                circle(cx='391' cy='106' r='75.5' fill='url(#a)' opacity='.5')
                                circle(cx='391' cy='106' r='73.9' fill='#f5f5f5')
                                path(fill='#333' d='M431 113c0 24.6-17.7 36.7-40.6 36.7s-42.5-12.1-42.5-36.7 18.6-44.5 41.5-44.5 41.5 19.9 41.5 44.5z')
                                path(fill='#20a39e' d='M391 180a73.6 73.6 0 0 0 40.6-12.2c-2.73-14.9-13.1-15.8-13.1-15.8h-57.2s-9.78.8-12.8 14.5a73.6 73.6 0 0 0 42.5 13.4z')
                                path(d='M379 134h22.9v18.9a10.8 10.8 0 0 1-10.9 10.8h-1.28a10.8 10.8 0 0 1-10.7-10.8V134z' opacity='.1')
                                path(fill='#fda57d' d='M381 133h18.8a2.06 2.06 0 0 1 2.06 2.06v16.9a10.8 10.8 0 0 1-10.8 10.8h-1.28a10.8 10.8 0 0 1-10.7-10.8v-16.9a2.06 2.06 0 0 1 2-2.09z')
                                path(d='M379 143a32.9 32.9 0 0 0 22.9.06v-2.81H379z' opacity='.1')
                                circle(cx='390' cy='111' r='32.8' fill='#fda57d')
                                path(d='M352 113s20.4-2.47 35.9-22.3c0 0 20.4 22.5 34.6 20 0 0 8.25-8.66 0-17.3s-14.6-19.6-25.6-18.1-24.3 2.06-30.1 7.22-14.8 30.5-14.8 30.5z' opacity='.1')
                                path(fill='#333' d='M352 113s20.4-2.47 35.9-22.3c0 0 20.4 22.5 34.6 20 0 0 8.25-8.66 0-17.3s-14.6-19.6-25.6-18.1-24.3 2.06-30.1 7.22-14.8 30.5-14.8 30.5z')
                                ellipse(cx='358' cy='111' fill='#fda57d' rx='3.05' ry='5.72')
                                ellipse(cx='423' cy='111' fill='#fda57d' rx='3.05' ry='5.72')
                                circle(cx='711' cy='112' r='75.5' fill='url(#b)' opacity='.5')
                                circle(cx='711' cy='111' r='73.9' fill='#f5f5f5')
                                path(fill='#20a39e' d='M711 185a73.6 73.6 0 0 0 40.6-12.2c-2.72-14.9-13.1-15.7-13.1-15.7h-57.2s-9.78.8-12.8 14.5A73.6 73.6 0 0 0 711 185z')
                                circle(cx='710' cy='110' r='35.7' fill='#72351c')
                                path(d='M699 139h22.9v18.9a10.8 10.8 0 0 1-10.8 10.8h-1.28a10.8 10.8 0 0 1-10.8-10.8V139h.01z' opacity='.1')
                                path(fill='#fda57d' d='M701 138h18.8a2.06 2.06 0 0 1 2.06 2.06v16.9a10.8 10.8 0 0 1-10.8 10.8h-1.28a10.8 10.8 0 0 1-10.8-10.8v-16.9a2.06 2.06 0 0 1 2.06-2.06z')
                                path(d='M698 148a32.9 32.9 0 0 0 22.9.06v-2.81H698z' opacity='.1')
                                circle(cx='710' cy='117' r='32.8' fill='#fda57d')
                                path(d='M687 87s13.8 28 52.8 11.8l-9.07-14.2-16.1-5.77z' opacity='.1')
                                g(fill='#72351c')
                                    path(d='M687 86s13.8 28 52.8 11.8l-9.07-14.2-16.1-5.77z')
                                    path(d='M686 85a18.9 18.9 0 0 1 4.69-7.63c6.45-6.37 17-7.72 22.4-15a4.24 4.24 0 0 1-1.94 6c5.19 0 11.2-.49 14.2-4.76a9.71 9.71 0 0 1-1.64 10.3c4.6.21 9.52 3.33 9.81 7.93.2 3.06-1.72 6-4.24 7.72a23.6 23.6 0 0 1-8.56 3.22c-8.76 1.93-40.4 10-34.7-7.74zM743 117h-.87l-16.9 15c-16.3-7.63-28.2 0-28.2 0l-17.7-14.4-1.79.22a32.8 32.8 0 0 0 65.5-.84zm-32.8 20.8c-6.38 0-11.5-1.29-11.5-2.89s5.17-2.89 11.5-2.89 11.5 1.29 11.5 2.89-5.17 2.89-11.5 2.89z')
                                ellipse(cx='678' cy='117' fill='#fda57d' rx='3.05' ry='5.72')
                                ellipse(cx='743' cy='117' fill='#fda57d' rx='3.05' ry='5.72')
                                circle(cx='551' cy='235' r='75.5' fill='url(#c)' opacity='.5')
                                circle(cx='551' cy='235' r='73.9' fill='#f5f5f5')
                                path(fill='#333' d='M522 236s-8.38 41.3-13 39c0 0 44.1 38.1 83.1 0 0 0-6.86-29.1-16.8-39z')
                                path(fill='#20a39e' d='M551 309a73.6 73.6 0 0 0 40.6-12.2c-2.72-14.9-13.1-15.7-13.1-15.7h-57.2s-9.78.8-12.8 14.5a73.6 73.6 0 0 0 42.4 13.4z')
                                circle(cx='550' cy='233' r='32.8' fill='#333')
                                path(d='M539 263h22.9v18.9a10.8 10.8 0 0 1-10.8 10.8h-1.3a10.8 10.8 0 0 1-10.8-10.8V263h.01z' opacity='.1')
                                path(fill='#be7c5e' d='M541 262h18.8a2.06 2.06 0 0 1 2.06 2.06v16.9a10.8 10.8 0 0 1-10.8 10.8h-1.3a10.8 10.8 0 0 1-10.8-10.8v-16.8a2.06 2.06 0 0 1 2.06-2.06z')
                                path(d='M538 272a32.9 32.9 0 0 0 22.9.06v-2.81H538z' opacity='.1')
                                circle(cx='550' cy='241' r='32.8' fill='#be7c5e')
                                path(fill='#333' d='M519 228h62.5s-5.34-25.2-29-23.6S519 228 519 228z')
                                ellipse(cx='518' cy='239' fill='#be7c5e' rx='3.05' ry='5.72')
                                ellipse(cx='582' cy='239' fill='#be7c5e' rx='3.05' ry='5.72')
                                path(d='M519 229h62.5s-5.34-25.2-29-23.6S519 229 519 229z' opacity='.1')
                                g(fill='#ccc')
                                    path(d='M551 167a68.8 68.8 0 1 1-68.8 68.8A68.8 68.8 0 0 1 551 167m0-17a85.8 85.8 0 1 0 85.8 85.8A85.9 85.9 0 0 0 551 150z')
                                    path(d='M538 130h20.1v21.2H538zM582.87 156.744l10.919-18.172 17.229 10.353-10.919 18.172zM619.238 183.254l18.542-10.278 9.744 17.58-18.541 10.278zM619.475 286.1l10.651-17.045 17.979 11.234-10.651 17.046zM455.056 190.184l9.744-17.58 18.542 10.279-9.744 17.58zM454.795 280.203l17.979-11.234 10.651 17.046-17.979 11.234zM490.923 148.204l17.229-10.352 10.919 18.172-17.23 10.352zM538 320h20.1v21.2H538zM583.136 314.595l17.229-10.352 10.919 18.172-17.23 10.352zM494.06 322.92l11.024-18.232 17.286 10.452-11.024 18.232zM443 227h24.4v18H443zM659 245h-24.4v-18H659zM710 43a68.8 68.8 0 1 1-68.8 68.8A68.8 68.8 0 0 1 710 43m0-17a85.8 85.8 0 1 0 85.8 85.8A85.9 85.9 0 0 0 710 26z')
                                    path(d='M698 5.67h20.1v21.2H698zM742.65 32.939l10.919-18.172 17.229 10.352-10.919 18.172zM779.06 59.232l18.543-10.278 9.744 17.58-18.542 10.277zM779.104 161.703l10.652-17.046 17.978 11.235-10.651 17.045zM614.772 66.129l9.745-17.58 18.542 10.278-9.745 17.58zM614.773 156.258l17.978-11.234 10.652 17.046-17.979 11.234zM650.153 24.424l17.23-10.353L678.3 32.243l-17.229 10.353zM698 196h20.1v21.2H698zM743.418 190.9l17.229-10.352 10.919 18.172-17.23 10.353zM655.45 198.36l11.024-18.232 17.286 10.452-11.024 18.232zM603 103h24.4v18H603zM819 121h-24.4v-18H819zM391 37h2.43a69.01 69.01 0 0 1-2.35 138h-2.43A69.01 69.01 0 0 1 391 37m0-17a86.012 86.012 0 0 0-2.93 172c1 0 2 .05 3 .05a86.013 86.013 0 0 0 2.95-172c-1 0-2-.05-3-.05z')
                                    path(d='M381.816 20.997l.74-21.187 20.088.702-.74 21.187zM426.089 28.933l11.546-17.78L454.492 22.1l-11.546 17.78zM459.467 56.466l18.89-9.625 9.125 17.91-18.89 9.624zM456.911 159.05l11.24-16.665 17.575 11.855-11.24 16.664zM297.002 57.563l10.352-17.229 18.172 10.919-10.352 17.229zM294.69 148.42l18.444-10.6 10.05 17.487-18.444 10.6zM333.541 17.325l17.58-9.744L361.4 26.123l-17.58 9.744zM374.456 211.627l.74-21.187 20.088.702-.74 21.187zM420.518 186.87l17.58-9.745 10.277 18.542-17.58 9.745zM328.485 191.008l11.547-17.78 16.857 10.947-11.546 17.78zM283.846 93.558l24.385.847-.625 17.99-24.385-.848zM498.547 119.899l-24.385-.851.628-17.99 24.386.852z')
                                circle(cx='66.7' cy='372' r='66.7' fill='url(#d)' opacity='.5')
                                circle(cx='66.8' cy='372' r='65.3' fill='#e6e6e6')
                                path(fill='#ccc' d='M66 437a65 65 0 0 0 35.9-10.7c-2.41-13.2-11.6-13.9-11.6-13.9H39.8s-8.64.71-11.3 12.8A65 65 0 0 0 66 437z')
                                circle(cx='66.2' cy='371' r='31.5' fill='#ccc')
                                path(d='M56 397h20.2v16.7a9.54 9.54 0 0 1-9.54 9.54h-1.08A9.54 9.54 0 0 1 56 413.7V397z' opacity='.1')
                                path(fill='#ccc' d='M56.65 396.06h19a.6.6 0 0 1 .6.6v16.12a9.54 9.54 0 0 1-9.54 9.54h-1.13a9.54 9.54 0 0 1-9.58-9.54v-16.12a.6.6 0 0 1 .6-.6z')
                                path(d='M56 404a29.1 29.1 0 0 0 20.2.06v-2.49H56z' opacity='.1')
                                circle(cx='66.2' cy='377' r='29' fill='#ccc')
                                path(d='M45 351s12.2 24.8 46.6 10.4l-8-12.6-14.2-5.1z' opacity='.1')
                                g(fill='#ccc')
                                    path(d='M45 350s12.2 24.8 46.6 10.4l-8-12.6-14.2-5.1z')
                                    path(d='M45 348a16.7 16.7 0 0 1 4.15-6.74c5.7-5.63 15-6.82 19.8-13.2a3.75 3.75 0 0 1-1.72 5.29c4.58 0 9.91-.43 12.5-4.21a8.58 8.58 0 0 1-1.45 9.06c4.07.18 8.41 2.94 8.67 7 .18 2.71-1.52 5.27-3.75 6.82a20.8 20.8 0 0 1-7.56 2.85c-7.71 1.71-35.7 8.85-30.7-6.83z')
                                    ellipse(cx='37.2' cy='377' rx='2.69' ry='5.05')
                                    ellipse(cx='95.2' cy='377' rx='2.69' ry='5.05')
                                circle(cx='77.3' cy='366' r='66.7' fill='url(#e)' opacity='.5')
                                circle(cx='77.4' cy='366' r='65.3' fill='#f5f5f5')
                                path(fill='#ccc' d='M77 431a65 65 0 0 0 35.9-10.7c-2.41-13.2-11.6-13.9-11.6-13.9H50.8s-8.64.71-11.3 12.8A65 65 0 0 0 77 431z')
                                circle(cx='76.8' cy='364' r='31.5' fill='#ccc')
                                path(d='M66.6 390h20.2v16.7a9.54 9.54 0 0 1-9.54 9.54h-1.12a9.54 9.54 0 0 1-9.54-9.54V390z' opacity='.1')
                                path(fill='#ccc' d='M67.24 389.7h19a.6.6 0 0 1 .6.6v16.12A9.54 9.54 0 0 1 77.3 416h-1.13a9.54 9.54 0 0 1-9.54-9.54v-16.15a.6.6 0 0 1 .61-.61z')
                                path(d='M66 398a29.1 29.1 0 0 0 20.2.06v-2.48H66z' opacity='.1')
                                circle(cx='76.8' cy='370' r='29' fill='#ccc')
                                path(d='M56 344s12.2 24.8 46.6 10.4l-8-12.6-14.2-5.1z' opacity='.1')
                                g(fill='#ccc')
                                    path(d='M56 344s12.2 24.8 46.6 10.4l-8-12.6-14.2-5.1z')
                                    path(d='M56 342a16.7 16.7 0 0 1 4.15-6.74c5.7-5.63 15-6.82 19.8-13.2a3.75 3.75 0 0 1-1.72 5.29c4.58 0 9.91-.43 12.5-4.21a8.58 8.58 0 0 1-1.45 9.06c4.07.18 8.41 2.94 8.67 7 .18 2.71-1.52 5.27-3.75 6.82a20.8 20.8 0 0 1-7.56 2.85c-7.73 1.71-35.7 8.85-30.7-6.83z')
                                    ellipse(cx='47.8' cy='370' rx='2.69' ry='5.05')
                                    ellipse(cx='106' cy='370' rx='2.69' ry='5.05')
                                path(fill='url(#f)' d='M516 213v3.2l-9-.8v20l-23.6 34.5-1.45-.85-3.2 4 30.4 19.2v-7.21l-1.71-1c2.13-7.95 10.8-39.6 15.8-43.8 0 0 9-6.41 13.9-15.2s2.42-39.2-21.2-12z' transform='translate(-191 -75)')
                                path(fill='url(#g)' d='M468 289s-32.6-6.89-50.5-14.2a76.5 76.5 0 0 0-26.3-5.63l-19.6-.64-9.75-5.85 3-7.87c.3-.13.6-.27.9-.44l.28-1.69a46.4 46.4 0 0 0 4.62-1.4 12.1 12.1 0 0 0 3.86 10.3 11.9 11.9 0 0 0 8.91 3.94 12 12 0 0 0 12-13l-1.4-17.7-.71.37-.09-1.18-.26.14a46.7 46.7 0 0 0 .79-52.6l.76-.7v-19.4c-.26-.25-.53-.48-.8-.71v-.09c-16.1-15-38.3-13.8-54.4-10a29.5 29.5 0 0 0-22.5 25.6c-21.4 5.84-14.3 17.1-14.6 21.4-1.66 21.2 5.15 33.6 12.6 40.8a38.7 38.7 0 0 0 10.6 7.74l-4.69 9.37-1.37-.05-3.75 11.2h-.18l-46.4 31.5-32.1 35.4a10.4 10.4 0 0 0 8.47 17.3l32.8-2.48s23.2 45.4 16 90.9c-2.42 15.3-1.41 24.6 1 30.3a55.7 55.7 0 0 1-5 17.8c-8.81 18.4-8.81 37.6 2.4 60.1l3.2 116s4 54.5 0 65.7 1.6 64.9 1.6 64.9h-.78v29.6l60 1.6s14-6.64 16.5-11.7l30.2 9.27s33.2-5.72 13.8-13.6c-14.5-5.9-18.1-14.3-19-18.2l47.4-136s-8.81-116-40.8-156l-3.25-23.6h.45l6.81-138 .56.08-.16.05c22.6 3.42 40.8 1.61 52.9-.82a82.4 82.4 0 0 0 15.3-4.29l.9-.36h.19a46.4 46.4 0 0 0 10.4-5.94l20-30.6-30.4-21zM342 758l15.2-107v-54.4l27.2 56.9-29.3 123-1.54-.43-6.76 24.3a15.9 15.9 0 0 1-4.85-6.91z' transform='translate(-191 -75)')
                                path(fill='#535461' d='M85 231s-45.2 10.6-37.2 75.8c0 0 16.4-5.78 22.1-6.44 5.42-.63 21.8 1.13 21.8 1.13l7.77-29.4z')
                                path(fill='#fda57d' d='M311 153v19.1l-22.8 33.4 22.8 14.8s10.1-39 15.6-43.6c0 0 8.57-6.12 13.2-14.5s2.34-37.5-20.2-11.5v3.06zM130 198l9-18a3.34 3.34 0 0 1 2.82-1.84l34.2-1.75a3.34 3.34 0 0 1 3.29 4.54l-8.83 22.8a3.34 3.34 0 0 1-3.41 2.12l-34.4-3.06a3.34 3.34 0 0 1-2.69-4.84z')
                                path(fill='#edeef9' d='M133 191l-6 17 60-2-23-14zM285 208l3-4 26 15v7z')
                                path(fill='#4d8af0' d='M108 377s4.37 17.4-4 35-8.41 35.9 2.29 57.4l3.06 111s3.82 52 0 62.7 1.53 61.9 1.53 61.9h42.8v-34.4l14.5-102v-52l26 54.3-29.8 125 39 16.1 48.9-141s-8.41-111-39-149l-5.71-41.7z')
                                path(fill='#333' d='M110 733v-28.3h43.6s3.06 11.5 22.9 13.8-9.18 16.1-9.18 16.1z')
                                path(fill='#333' d='M158 716l7.59-27.3 42 11.7s-.13 11.9 18.4 19.4-13.2 13-13.2 13z')
                                path(d='M208 383l-99.6-4a55.7 55.7 0 0 1 .75 18c4.56 10.7 14.3 7.78 14.3 7.78l87.1-2.68z' opacity='.1')
                                path(fill='#535461' d='M128 201l-44.4 30 8.79 48s22.2 43.4 15.3 86.8 15.3 36.7 15.3 36.7l87.5-2.67 6.5-132s52.8 7.49 76.5-10.8l19.1-29.2-29.1-20-9.94 14.2s-31.1-6.64-48.2-13.5a73.1 73.1 0 0 0-25.1-5.37z')
                                path(d='M129 413s-5.35 26.8 25.2 71.1M218 269s36.7-12.2 52.8-12.2 13.4 6.94 13.4 6.94-25.6 11.4-66.1 5.29zM176 178l-14.6 1.71c-.46.06-.88.64-1.13 1.54 3.21 5.79 7.23 9.25 11.6 9.25a9 9 0 0 0 4.43-1.23l1.12-6.76c.37-2.23-.37-4.64-1.41-4.51z' opacity='.1')
                                circle(cx='167' cy='145' r='44.6' fill='#fda57d')
                                path(d='M204 101v18.6l-2.25 2.06a7.71 7.71 0 0 0 2.25 12.8s-3.72 29.7-8.36 40.9l7.9-4.18 1.34 16.9a11.5 11.5 0 0 1-11.5 12.4 11.5 11.5 0 0 1-10.2-16.8c1.89-3.68 5.24-7.55 6.88-13 6-20-6-16.3-8.83-12.5s.46 13.5.46 13.5 8.83 16.3-37.6 12.5c0 0-30.7-6.5-27.4-47.8.33-4.14-6.5-14.9 13.9-20.4a28.1 28.1 0 0 1 21.5-24.4c15.3-3.59 36.5-4.74 51.9 9.6z' opacity='.1')
                                path(fill='#72351c' d='M203 100v18.6l-2.27 2.06a7.71 7.71 0 0 0 2.25 12.8s-3.72 29.7-8.36 40.9l7.9-4.18 1.34 16.9a11.5 11.5 0 0 1-11.5 12.4 11.5 11.5 0 0 1-10.2-16.8c1.89-3.68 5.24-7.55 6.88-13 6-20-6-16.3-8.83-12.5s.46 13.5.46 13.5 8.83 16.3-37.6 12.5c0 0-30.7-6.5-27.4-47.8.33-4.14-6.5-14.9 13.9-20.4a28.1 28.1 0 0 1 21.5-24.4c15.3-3.6 36.5-4.75 51.9 9.6z')

        //- Testimonials
        section.Homepage__Testimonials.background-white
            .Homepage__Testimonials-Wrapper
                .Homepage__Testimonials-Text.Homepage__Testimonials-Parents.background-green
                    h4 See what
                        span parents
                        | have to say about us
                    a(href="./parents.pug").btn.btn-green.with-icon.fixed-width
                        |Parents' Testimonials
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                            path(d="M0 0h24v24H0z" fill="none")
                .Homepage__Testimonials-Text.Homepage__Testimonials-Students.background-blue
                    h4 See what
                        span students
                        | have to say about us
                    a(href="./students.pug").btn.btn-blue.with-icon.fixed-width
                        | Students' Testimonials
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                            path(d="M0 0h24v24H0z" fill="none")
        
        //- Mentions
        section.Homepage__Mentions.background-grey
            .container
                header
                    h3.center.capitalize.text-green Mentions
                .Homepage__Mentions-Wrapper
                    figure.Homepage__Mention
                        img(src="./src/images/clips/Newspaper-1.jpg", alt="indian express mention")
                    
                    figure.Homepage__Mention
                        img(src="./src/images/clips/newspaper-5.png", alt="indian express mention")
                    
                    figure.Homepage__Mention
                        img(src="./src/images/clips/newspaper-4.png", alt="indian express mention")

        //- CTA
        include ./src/components/cta.pug

block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/ScrollToPlugin.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js")
     
    script(src="./src/js/common.js")
    script(src="./src/js/main.js")