/* ---------->>> FOOTER STYLES <<<-----------*/

#Footer {
  padding: 2rem 0 1rem;
  background-color: #ededed;
}

.Footer__Wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*   FOOTER BRAND   */
.Footer__Brand {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 3rem;
  svg {
    height: 100px;
    width: auto;
    vertical-align: center;
  }
  @include responsive(0, 940px) {
    svg {
      height: 120px;
    }
  }
}

/*   FOOTER QUICK LINKS   */
.Footer__Quick-Links {
  flex-basis: 100%;
  margin-bottom: 2rem;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    list-style-type: none;
    margin: 0 1rem;
    &:first-child {
      font-size: 1rem;
      font-weight: bold;
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $green;
      font-size: $small-font-size;
      text-transform: uppercase;
      &:hover {
        color: darken($green, 20);
      }
    }
  }

  @include responsive(0, 940px) {
    ul {
      flex-wrap: wrap;
    }
    li:first-child {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 1rem;
      font-size: 20px;
    }
  }

  @include responsive(0, 740px) {
    li {
      flex-basis: 100%;
      text-align: center;
      padding: 0.5rem 0;
    }
  }
}

/*   FOOTER CONTACTS   */
.Footer__Contacts {
  margin-bottom: 2rem;
  p {
    color: $text-on-white;
  }
}

/*   FOOTER ADDRESS   */
.Footer__Address {
  margin-bottom: 1rem;
  p {
    font-size: $small-font-size;
    span {
      font-size: $root-font-size;
      font-weight: $font-bold;
      margin-right: 1rem;
    }
  }
  @include responsive(0, 940px) {
    margin-bottom: 2rem;
    p {
      text-align: center;
      font-size: $root-font-size;
      span {
        display: block;
        margin-bottom: 1rem;
        font-size: 20px;
      }
    }
  }
}

.Footer__Contact-Info {
  align-items: center;
  display: flex;
  justify-content: center;
  p {
    font-size: $small-font-size;
    margin: 0 2rem;
    span {
      font-size: 1rem;
      font-weight: bold;
      margin-right: 1rem;
    }
  }
  @include responsive(0, 940px) {
    flex-wrap: wrap;
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      span {
        font-size: 20px;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.Footer__Social {
  flex-basis: 100%;
  margin-bottom: 2rem;
  h4 {
    color: $text-on-white;
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.Footer__Social-Icons-List {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Footer__Social-Icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 48px;
  justify-content: center;
  margin: 0 1rem;
  transition: all 100ms ease-in;
  width: 48px;
  a {
    height: 36px;
    width: 36px;
  }
  svg {
    fill: $green;
    height: 36px;
    transform: scale(1.125);
    transition: all 100ms ease-in;
    width: 36px;
  }
  &:hover {
    svg {
      fill: white;
    }
  }
}

#Footer__Social-Icon-LinkedIn:hover {
  background-color: $linked-in;
}

#Footer__Social-Icon-GooglePlus:hover {
  background-color: $google-plus;
}

#Footer__Social-Icon-Facebook:hover {
  background-color: $facebook;
}
#Footer__Social-Icon-Twitter:hover {
  background-color: $twitter;
}

.Footer__Copyright {
  align-items: center;
  display: flex;
  justify-content: center;
  p {
    color: $text-on-grey;
    font-size: $small-font-size;
    margin: 0 1rem;
  }
  a {
    color: $green;
    text-transform: none;
  }
}
