//! Font Families
$nunito: "Nunito Sans", sans-serif;
$loveYou: "Love Ya Like A Sister", cursive;

//! Font Weights
$font-bold: 700;
$font-light: 300;
$font-normal: 400;

//! Font Size
$root-font-size: 16px;
$small-font-size: 14px;

//! Navbar
$navbar-height: 70px;

//! Colors _NEW
$green: #20a39e;
$blue: #2067a3;
$orange: #ffba49;
$red: #ef5b5b;
$gray: #a4a9ad;
$text-dark: hsla(0, 100%, 0%, 0.85);
$text-medium: hsla(0, 100%, 0%, 0.73);
$text-light: hsla(0, 100%, 0%, 0.6);

//! Updated Text Colors
$text-on-white: #333;
$text-on-dark: #fefefe;
$text-on-grey: #888;

//! Social Colors
$facebook: #3b5998;
$linked-in: #0077b5;
$google-plus: #dd4b39;
$twitter: #1da1f2;
