.Homepage__Carousel
    ul.Homepage__Carousel-Indicators
        li.active
        li
        li
        li
        li
        li
    .Homepage__Carousel-Buttons.left
        button
            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                path(d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z")
                path(d="M0 0h24v24H0z" fill="none")

    .Homepage__Carousel-Buttons.right
        button
            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                path(d="M0 0h24v24H0z" fill="none")
            

    .Homepage__Carousel-Wrapper
        .Homepage__Carousel-Card.background-green.active
            #Homepage__Carousel-Card-Body-1.Homepage__Carousel-Card-Body
                .Homepage__Carousel-Card-Body-Image
                    svg#Homepage__Carousel-Card-Body-Gravite-Logo(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 440 135')
                        defs
                            filter#filter1500(width='1.11' height='3.59' x='-.054' y='-1.29' color-interpolation-filters='sRGB')
                            feGaussianBlur(stddeviation='8.759')
                        ellipse(cx='220' cy='65.1' filter='url(#filter1500)' opacity='.201' rx='196' ry='8.12' transform='matrix(.994 0 0 .618 1.37 27.4)')
                        ellipse(cx='196' cy='106' filter='url(#filter1500)' opacity='.201' rx='196' ry='8.12' transform='matrix(.761 0 0 .547 71.2 54.6)')
                        g(aria-label='Gravite' stroke-width='1.21')
                            path(d='M35.1 366q-.236 2-.708 7.57-.236 3.33-.448 7.88-3.16.92-9.22.92-9.01 0-14.6-4.06-6.65-4.84-6.65-14.4 0-9.15 5.83-14.3 5.47-4.84 14.4-4.84 3.37 0 7.24.519l1.3 14.9q-1.56-.59-4.43-.59-3.66 0-6.6 2.24-3.3 2.52-3.3 6.42 0 3.68 2.81 5.68 2.36 1.7 5.45 1.6l-.377-4.74q-.142-1.46-.637-4.81zM68 359q0 4.34-2.43 7.69-2.15 2.92-5.38 4.2.684 1.06 3.37 4.46 1.34 1.56 4.1 4.1-1.11.401-4.88 2.03-2.64 1.2-4.98 2.36-.684-.849-3.04-4.39-1.08-1.79-3.18-6.04h-.047l-.236 8.26h-13.3q-.26-5.14-.731-17-.212-6.96-.967-19.3 6.49-.684 11.8-.684 19.8 0 19.8 14.2zm-10.7 5.09q0-2.24-1.89-3.21-1.39-.708-3.49-.613l-.142 8.07q1.96 0 3.49-.873 2.03-1.13 2.03-3.37zM98.2 382H85.3l-.873-3.14q-.542.212-2.71 1.44-1.39.896-3.09 2.38l-1.34-2.85q-.401-.849-1.16-2.38l-1.27 4.55h-6.84q1.51-5.83 4.67-19.2 1.93-8.96 3.23-17h14.2q.66 3.7 3.61 17.2 1.63 7.08 4.51 19zm-14.9-7.74q-.401-1.25-1.42-4.06-.613-1.56-1.86-4.29-.542 1.37-1.7 4.48-.637 1.79-1.51 4.88.708 0 3.21-.283 1.51-.212 3.28-.731zM129 346q-1.96 5.8-6.27 18.9-1.98 6.18-5.12 17.3h-8.21q-1.58-5.38-5.28-17.6-2.1-6.75-6.23-18.7h16.7q.236 2.24 1.11 7.29.59 2.69 1.84 7.41.66-2.29 1.93-7.45.59-2.78 1.34-7.24zM147 346l-.92 19.3q-.26 6.23-.613 17h-13.2l-1.6-36.2zM178 346l-.684 14.8q-.92-.142-2.95-.354-1.25-.07-4.06-.142-.142 1.39-.495 6.72-.259 5.17-.849 15.2h-11.4q-.189-4.76-.708-15-.236-3.54-.495-6.91l-3.73.142-3.37.354-.59-14.8zM204 346l-1.01 14.9q-.873-.142-3.77-.495-1.98-.189-4.34-.236l-.354 4.5q2.59.07 8.47-.118-.26.873-.826 3.26-.33 1.44-.59 3.33-.684-.165-3.42-.425-1.27-.07-3.77-.047l-.236 5.26q1.77-.024 6.51-.307.896-.071 2.95-.566-.189.73-.873 3.51-.33 1.44-.802 3.63h-21.1l-.684-18.5q-.189-6.34-.92-17.7z' transform='matrix(1 0 0 1.1 19.9 -371)')
                        g(aria-label='Eduventure' stroke-width='1.11')
                            path(d='M238 382h-12v-33.2h11.8v3.8h-7.37v10.5h6.83v3.78h-6.83v11.4h7.58zM252 347h4.25v34.4h-4.19v-3.05h-.104q-1.54 3.36-4.38 3.36-1.67 0-3.07-1.12-1.38-1.12-1.93-3.13-.547-2.01-.547-6.69 0-5.34.469-7.63.469-2.32 1.8-3.59 1.33-1.3 3.39-1.3 2.68 0 4.22 3.05h.104zm.052 22.6q0-4.22-.547-5.97-.52-1.77-2.14-1.77t-2.21 1.85q-.599 1.85-.599 6.12 0 4.43.547 6.33.573 1.88 2.16 1.88 1.56 0 2.16-1.95.625-1.98.625-6.49zM276 374q0 3.99-1.59 5.76-1.59 1.75-5.24 1.75t-5.29-1.72q-1.64-1.75-1.64-5.57v-15.9h4.22v15.9q0 3.78 2.71 3.78 1.43 0 2.01-.964.599-.964.599-3.2v-15.5h4.22zM281 359h4.27l3.49 16.1 3.49-16.1h4.17l-6.2 22.8h-2.87zM314 371h-9.59q0 3.7.495 5.6.521 1.88 2.42 1.88 1.46 0 1.98-1.09t.547-3.44h3.88q-.182 8-6.77 8-7.09 0-7.09-11.2 0-12.2 7.35-12.2 2.79 0 4.77 2.11 2.01 2.11 2.01 8.73zm-4.3-3.31q0-3.39-.547-4.85-.547-1.48-1.98-1.48-1.69 0-2.24 1.56-.521 1.54-.521 4.77zM323 359v2.19h.104q1.64-2.5 4.43-2.5 4.95 0 4.95 5.39v17.8h-4.22v-16.5q0-3.36-2.66-3.36-1.22 0-1.95.912-.703.886-.703 2.45v16.5h-4.27v-22.8zM347 362h-2.76v19.4h-4.27V362h-2.74v-3.36h2.74v-6.2h4.27v6.2H347zM365 374q0 3.99-1.59 5.76-1.59 1.75-5.24 1.75t-5.29-1.72q-1.64-1.75-1.64-5.57v-15.9h4.22v15.9q0 3.78 2.71 3.78 1.43 0 2.01-.964.599-.964.599-3.2v-15.5h4.22zM380 362q-2.94.078-4.19 1.12-1.25 1.04-1.25 4.64v13.7h-4.32v-22.8h4.32v3.36h.104q1.88-3.7 5.05-3.7l.286.052zM397 371h-9.59q0 3.7.495 5.6.521 1.88 2.42 1.88 1.46 0 1.98-1.09t.547-3.44h3.88q-.182 8-6.77 8-7.09 0-7.09-11.2 0-12.2 7.35-12.2 2.79 0 4.77 2.11 2.01 2.11 2.01 8.73zm-4.3-3.31q0-3.39-.547-4.85-.547-1.48-1.98-1.48-1.69 0-2.24 1.56-.521 1.54-.521 4.77z' transform='matrix(1 0 0 1.1 19.9 -371)')
                        g(aria-label='Where everything falls into place')
                            path(d='M61.1 69.8l-3.44 19.9h-2.14l-2.39-14h-.078l-2.33 14h-2.11l-3.33-19.9h2.33l2.22 13.8h.062l2.39-13.8h1.83l2.27 13.7h.079l2.27-13.7zM72 89.7h-2.52v-9.92q0-1.95-1.58-1.95-1.62 0-1.62 2.17v9.7h-2.59V69.1h2.59v8.06q1.33-1.34 2.81-1.34 2.91 0 2.91 3.14zM83.7 83.3h-5.75q0 2.22.297 3.36.312 1.12 1.45 1.12.875 0 1.19-.656t.328-2.06h2.33q-.109 4.8-4.06 4.8-4.25 0-4.25-6.72 0-7.33 4.41-7.33 1.67 0 2.86 1.27 1.2 1.27 1.2 5.23zm-2.58-1.98q0-2.03-.328-2.91-.328-.891-1.19-.891-1.02 0-1.34.938-.312.922-.312 2.86zM92.8 78q-1.77.047-2.52.672t-.75 2.78v8.19h-2.59v-13.7h2.59v2.02h.063q1.12-2.22 3.03-2.22l.171.031zM103 83.3h-5.75q0 2.22.297 3.36.312 1.12 1.45 1.12.875 0 1.19-.656t.328-2.06h2.33q-.109 4.8-4.06 4.8-4.25 0-4.25-6.72 0-7.33 4.41-7.33 1.67 0 2.86 1.27 1.2 1.27 1.2 5.23zm-2.58-1.98q0-2.03-.328-2.91-.328-.891-1.19-.891-1.02 0-1.34.938-.312.922-.312 2.86zM121 83.3h-5.75q0 2.22.297 3.36.312 1.12 1.45 1.12.875 0 1.19-.656t.328-2.06h2.33q-.109 4.8-4.06 4.8-4.25 0-4.25-6.72 0-7.33 4.41-7.33 1.67 0 2.86 1.27 1.2 1.27 1.2 5.23zm-2.58-1.98q0-2.03-.328-2.91-.328-.891-1.19-.891-1.02 0-1.34.938-.312.922-.312 2.86zM123 76h2.56l2.09 9.64 2.09-9.64h2.5l-3.72 13.7h-1.72zM143 83.3h-5.75q0 2.22.297 3.36.312 1.12 1.45 1.12.875 0 1.19-.656t.328-2.06h2.33q-.109 4.8-4.06 4.8-4.25 0-4.25-6.72 0-7.33 4.41-7.33 1.67 0 2.86 1.27 1.2 1.27 1.2 5.23zm-2.58-1.98q0-2.03-.328-2.91-.328-.891-1.19-.891-1.02 0-1.34.938-.312.922-.312 2.86zM152 78q-1.77.047-2.52.672t-.75 2.78v8.19h-2.59v-13.7h2.59v2.02h.063q1.12-2.22 3.03-2.22l.171.031zM164 76l-6.38 19.7h-2.23l2.23-7.27-3.7-12.4h2.55l2.25 9.41h.063l2.78-9.41zM171 78h-1.66v11.6h-2.56V78h-1.64v-2.02h1.64v-3.72h2.56v3.72H171zM182 89.7h-2.52v-9.92q0-1.95-1.58-1.95-1.62 0-1.62 2.17v9.7h-2.59V69.1h2.59v8.06q1.33-1.34 2.81-1.34 2.91 0 2.91 3.14zM185 71.8q0-.562.406-.984.422-.422 1-.422t.984.422q.422.422.422.984 0 .578-.422 1-.406.406-.984.406-.594 0-1-.406-.406-.422-.406-1zm.125 4.17h2.53v13.7h-2.53zM194 76v1.31h.063q.984-1.5 2.66-1.5 2.97 0 2.97 3.23v10.7h-2.53v-9.92q0-2.02-1.59-2.02-.735 0-1.17.547-.422.531-.422 1.47v9.92h-2.56v-13.7zM211 91.4q0 2.12-.984 3.09-.984.969-3.14.969-2.3 0-3.28-.875t-.969-3.22h2.45q.125 2.23 1.73 2.23 1.66 0 1.66-1.67v-4.09h-.063q-.75 2.02-2.66 2.02-1.31 0-2.22-1.27-.906-1.27-.906-6.03 0-4.3.828-5.52.828-1.23 2.33-1.23 1.03 0 1.55.375.532.375 1.08 1.2h.063v-1.38h2.53zm-4.06-3.91q.891 0 1.2-.969.328-.984.328-3.3 0-3.3-.297-4.33-.281-1.05-1.23-1.05-.875 0-1.25 1.02-.375 1-.375 3.22 0 2.94.266 4.17.281 1.23 1.36 1.23zM226 71.6q-.203-.188-.891-.188-1.25 0-1.25 1.91v2.73h2.11v1.94h-2.11v11.7h-2.53v-11.7h-1.38v-1.94h1.38v-2.92q0-4 3.05-4 .938 0 1.62.188zM236 89.7h-2.55v-1.66h-.078q-.984 1.84-2.55 1.84-1.33 0-2.34-1.23-1.02-1.25-1.02-5.58 0-3.84.766-5.53.766-1.7 2.62-1.7.875 0 1.41.406.547.406 1.11 1.3h.078v-1.5h2.55zm-4.19-2.05q.984 0 1.31-1.17.328-1.17.328-3.98 0-2.47-.297-3.47-.297-1.02-1.25-1.02t-1.33.938q-.359.938-.359 3.39 0 2.89.281 4.11.297 1.2 1.31 1.2zM242 89.7h-2.56V69.1H242zM248 89.7h-2.56V69.1H248zM258 78.3q-1.17-.484-2.02-.484-.812 0-1.31.406-.484.406-.484 1.11 0 .562.406 1.11.422.547 1.7 1.67 1.3 1.11 1.83 2 .547.875.547 1.94 0 1.61-1.09 2.67t-2.78 1.06q-1.09 0-2.56-.578v-2.11q1.42.578 2.41.578.734 0 1.14-.391.422-.406.422-1.08 0-.625-.547-1.33-.547-.703-1.91-1.8-1.95-1.58-1.95-3.62 0-1.61 1.06-2.67 1.08-1.08 2.67-1.08.984 0 2.47.516zM267 71.8q0-.562.406-.984.422-.422 1-.422t.984.422q.422.422.422.984 0 .578-.422 1-.406.406-.984.406-.594 0-1-.406-.406-.422-.406-1zm.125 4.17h2.53v13.7h-2.53zM276 76v1.31h.063q.984-1.5 2.66-1.5 2.97 0 2.97 3.23v10.7h-2.53v-9.92q0-2.02-1.59-2.02-.734 0-1.17.547-.422.531-.422 1.47v9.92h-2.56v-13.7zM290 78h-1.66v11.6h-2.56V78h-1.64v-2.02h1.64v-3.72h2.56v3.72H290zM297 75.8q1.95 0 3.14 1.48t1.19 5.75q0 4-1.25 5.42-1.23 1.42-3.05 1.42-2.27 0-3.36-1.7t-1.09-5.23q0-4.33 1.25-5.73t3.11-1.41zm1.61 7.88q0-3.48-.328-4.62t-1.31-1.14q-.938 0-1.28.891-.344.891-.344 3.02 0 4.14.375 5.06.391.922 1.28.922.953 0 1.28-.922.328-.938.328-3.2zM313 77.5q.625-.891 1.2-1.3.594-.406 1.39-.406 1.83 0 2.59 1.62.766 1.62.766 5.3 0 4.14-.812 5.66-.797 1.5-2.52 1.5-.75 0-1.27-.328-.516-.344-1.3-1.39h-.063v7.55h-2.56v-19.7h2.5v1.5zm1.53 10.2q.922 0 1.31-1.06.391-1.08.391-3.48 0-2.8-.359-3.97-.359-1.19-1.34-1.19-.906 0-1.23.984-.328.969-.328 3.31 0 2.91.25 4.16.266 1.25 1.31 1.25zM324 89.7h-2.56V69.1H324zM336 89.7h-2.55v-1.66h-.078q-.984 1.84-2.55 1.84-1.33 0-2.34-1.23-1.02-1.25-1.02-5.58 0-3.84.766-5.53.766-1.7 2.62-1.7.875 0 1.41.406.547.406 1.11 1.3h.078v-1.5h2.55zm-4.19-2.05q.984 0 1.31-1.17.328-1.17.328-3.98 0-2.47-.297-3.47-.297-1.02-1.25-1.02t-1.33.938q-.359.938-.359 3.39 0 2.89.281 4.11.297 1.2 1.31 1.2zM345 89.2q-1.27.609-2.31.609-2.09 0-3.06-1.72-.969-1.72-.969-5.41 0-3.92 1.23-5.44t2.88-1.52q.812 0 2.2.484v2.17q-.906-.406-1.44-.406-1.11 0-1.61 1.2-.5 1.19-.5 3.75 0 4.64 2.02 4.64.578 0 1.56-.484zM356 83.3h-5.75q0 2.22.297 3.36.312 1.12 1.45 1.12.875 0 1.19-.656t.328-2.06h2.33q-.109 4.8-4.06 4.8-4.25 0-4.25-6.72 0-7.33 4.41-7.33 1.67 0 2.86 1.27 1.2 1.27 1.2 5.23zm-2.58-1.98q0-2.03-.328-2.91-.328-.891-1.19-.891-1.02 0-1.34.938-.312.922-.312 2.86z' transform='translate(19.9 5.48)')
                
                p.lead Comprehensive Tuitions for students from Class V to Class XII covering all boards (CBSE, ICSE, State and Competetive Exams)
                
        .Homepage__Carousel-Card.background-blue
            #Homepage__Carousel-Card-Body-2.Homepage__Carousel-Card-Body
                .Homepage__Carousel-Card-Body-Image
                    img(src="./src/images/carousel/10th-cbse-result.png", alt="10th CBSE Results")
                .Homepage__Carousel-Card-Body-Text
                    h2 Class X Results - CBSE
                    p Our students performed exceedingly well as can be seen in the results list.
                    a.btn.with-icon.btn-green(href="./students.pug")
                        | Read More
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                            path(d="M0 0h24v24H0z" fill="none")
                .Homepage__Carousel-Card-Body-Text-Link
                    a.btn.with-icon.btn-green(href="./students.pug")
                            | Read More
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                                path(d="M0 0h24v24H0z" fill="none")

        .Homepage__Carousel-Card.background-orange
            #Homepage__Carousel-Card-Body-3.Homepage__Carousel-Card-Body
                .Homepage__Carousel-Card-Body-Image
                    img(src="./src/images/carousel/10th-icse-result.png", alt="10th ICSE Results")
                .Homepage__Carousel-Card-Body-Text
                    h2 Class X Results - ICSE
                    p Our students are in the top 2% of students in the Xth standard ICSE Board Examination.
                    a.btn.with-icon.btn-green(href="./students.pug")
                        | Read More
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                            path(d="M0 0h24v24H0z" fill="none")
                .Homepage__Carousel-Card-Body-Text-Link
                    a.btn.with-icon.btn-green(href="./students.pug")
                            | Read More
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                                path(d="M0 0h24v24H0z" fill="none")

        .Homepage__Carousel-Card.background-green
            #Homepage__Carousel-Card-Body-4.Homepage__Carousel-Card-Body
                .Homepage__Carousel-Card-Body-Image
                    img(src="./src/images/carousel/12th-result.png", alt="12th Results")
                .Homepage__Carousel-Card-Body-Text
                    h2 Class XII Results
                    p Our students have steadily improved over the year to become toppers in their schools.
                    a.btn.with-icon.btn-green(href="./students.pug")
                        | Read More
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                            path(d="M0 0h24v24H0z" fill="none")
                .Homepage__Carousel-Card-Body-Text-Link
                    a.btn.with-icon.btn-green(href="./students.pug")
                            | Read More
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                                path(d="M0 0h24v24H0z" fill="none")

        .Homepage__Carousel-Card.background-blue
            #Homepage__Carousel-Card-Body-5.Homepage__Carousel-Card-Body
                .Homepage__Carousel-Card-Body-Image
                    img(src="./src/images/carousel/ban1.png", alt="Toppers 1")
                .Homepage__Carousel-Card-Body-Text
                    h2 Our best students - 95%
                    p Our students consistently score higher than their class mates in their respective schools.
                    a.btn.with-icon.btn-green(href="./students.pug")
                        | Read More
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                            path(d="M0 0h24v24H0z" fill="none")
                .Homepage__Carousel-Card-Body-Text-Link
                    a.btn.with-icon.btn-green(href="./students.pug")
                            | Read More
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                                path(d="M0 0h24v24H0z" fill="none")

        .Homepage__Carousel-Card.background-orange
            #Homepage__Carousel-Card-Body-6.Homepage__Carousel-Card-Body
                .Homepage__Carousel-Card-Body-Image
                    img(src="./src/images/carousel/banner1.png", alt="Toppers 2")
                .Homepage__Carousel-Card-Body-Text
                    h2 More of our excellent achievers
                    p Our students excel at their exams thereby securing a safe and assured path to success. 
                    a.btn.with-icon.btn-green(href="./students.pug")
                        | Read More
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                            path(d="M0 0h24v24H0z" fill="none")
                .Homepage__Carousel-Card-Body-Text-Link
                    a.btn.with-icon.btn-green(href="./students.pug")
                            | Read More
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                                path(d="M0 0h24v24H0z" fill="none")
        

