section.CallToAction.background-green
    .container
        .CallToAction__Wrapper
            .CallToAction__Text
                h4 Want to know more?  
                p Drop your email id and we'll get back to you within 4 - 6 hours.
                a.btn.with-icon.fixed-width(href="./contact.pug#ContactPage__Form")
                    | Contact Us Now!
                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                        path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
                        path(d="M0 0h24v24H0z" fill="none")