<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name='description', content='Gravite Eduventure - We provide high quality classes and tutorials for students from class VI to XII in all subjects. We have the best tutors who are all IIT & NIT alumni. Join Gravite Eduventure, launch your career to new heights.')
        
        meta(name='keywords', content='iit jee training institutes in indira nagar, Tutorial in jeevan bhima nagar, cet course in indira nagar, ntse coaching centre in bangalore, jee mains centre near old airport road, jee advance institutes near indira nagar, cbse training tutorials In jeevan beema nagar, Training institues in jeevan beemanagar, icse tuitions in bangalore, competitive exam training institute in Bangalore')

        title
            block title
        link(type="image/x-icon", href="./src/favicon.png", rel="shortcut icon")
        link(href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet")
        link(href="./src/scss/main.scss", rel="stylesheet")
        script(type='application/ld+json').
            {
            "@context": "http://www.schema.org",
            "@type": "EducationalOrganization",
            "name": "Gravite Eduventure",
            "url": "http://graviteeduventure.com",
            "logo": "http://graviteeduventure.com/favicon.png",
            "description": "Gravite Eduventure - We provide high quality classes and tutorials for students from class VI to XII in all subjects. We have the best tutors who are all IIT & NIT alumni. Join Gravite Eduventure, launch your career to new heights.",
            "address": {
            "@type": "PostalAddress",
            "streetAddress": "10th main, Above sagar bakery, Near Water Tank, Jeevan Beema Nagar Main Road, Jeevan Beema Nagar",
            "postOfficeBoxNumber": "Jeeva Bhima Nagar P.O, 560095",
            "addressLocality": "Bangalore",
            "addressRegion": "Karnataka",
            "postalCode": "560075",
            "addressCountry": "India"
            },
            "geo": {
            "@type": "GeoCoordinates",
            "latitude": "12.967029",
            "longitude": "77.659415"
            },
            "hasMap": "https://goo.gl/maps/XVohgZmMRx62",
            "openingHours": "Mo, Tu, We, Th, Fr, Sa, Su 09:00-20:00",
            "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+919743453588",
            "contactType": "Office"
            }
            }


    body
        block page
        
        include footer.pug
        block scripts