.AboutPage__Landing {
  p {
    margin-bottom: 1rem;
  }
}

.AboutPage__Landing-Wrapper {
  header {
    opacity: 0;
  }
}

.AboutPage__Landing-Body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include responsive(0, 940px) {
    flex-wrap: wrap;
  }
}

.AboutPage__Landing-Text {
  flex-basis: 60%;
  padding: 0 2rem;
  p {
    opacity: 0;
  }
  @include responsive(0, 940px) {
    flex-basis: 100%;
    order: 2;
    p {
      opacity: 0;
      margin-bottom: 1.25rem;
      line-height: 1.414;
    }
  }
}

.AboutPage__Landing-Image {
  flex-basis: 40%;
  padding: 0 2rem;
  opacity: 0;
  svg {
    height: 350px;
    width: 100%;
  }
  @include responsive(0, 940px) {
    margin-bottom: 2rem;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    svg {
      height: 150px;
      width: 150px;
      border: 3px solid $green;
      border-radius: 50%;
      background-color: #efefef;
    }
  }
}

.AboutPage__Team {
  padding: 2rem 0;
  min-height: 500px;
}

.AboutPage__Team-Container {
  header {
    opacity: 0;
  }
}

.AboutPage__Team-List {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0 2rem;
  @include responsive(0, 940px) {
    flex-wrap: wrap;
  }
}

.AboutPage__Team-Member {
  flex-basis: calc(16% - 0.8rem);
  @include responsive(0, 940px) {
    margin-bottom: 2rem;
  }
  @include responsive(768px, 940px) {
    flex-basis: calc(33.33% - 0.66rem);
  }
  @include responsive(0, 767px) {
    flex-basis: calc(50% - 1rem);
  }
}

.AboutPage__Team-Member-Image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  overflow: hidden;
  opacity: 0;
  img {
    border-radius: 50%;
    border: 5px solid $green;
    vertical-align: middle;
    height: 100%;
    max-height: 200px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    transform: scale(1);
    transform-origin: center center;
    transition: transform 100ms ease-in-out;
  }
  @include responsive(0, 940px) {
    margin-bottom: 1.25rem;
  }
}

.AboutPage__Team-Member-Detail {
  flex-basis: 100%;
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid white;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  opacity: 0;
  p {
    text-align: center;
    font-size: $small-font-size;
    font-weight: $font-bold;
    letter-spacing: 0.2px;
    color: darken($green, 10);
  }
  @include responsive(0, 940px) {
    width: 70%;
    flex-basis: auto;
    margin: 0 auto;
  }
}
