.Homepage__Landing {
  height: 100vh;
  padding: 0;
}

.Homepage__About {
  padding: 2rem 0 4rem;
  height: auto;
}

.Homepage__About-Wrapper {
  height: 100%;
  margin: 2rem 0;
}

.Homepage__About-Body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  p {
    margin-bottom: 1rem;
  }
  @include responsive(0, 700px) {
    flex-wrap: wrap;
  }
}

.Homepage__About-Text {
  flex-basis: 40%;
  padding: 0 1rem;
  @include responsive(701px, 940px) {
    flex-basis: 50%;
  }
  @include responsive(0, 700px) {
    flex-basis: 100%;
    p.lead {
      text-align: center;
      margin-bottom: 1.5rem;
      font-weight: $font-bold;
    }
  }
}

.Homepage__About-Text-Link {
  width: 250px;
  @include responsive(0, 700px) {
    margin: 1rem auto;
  }
}

.Homepage__About-Image {
  flex-basis: 50%;
  padding: 0 1rem;
  svg {
    height: 350px;
    width: 100%;
  }
  @include responsive(701px, 940px) {
    flex-basis: 45%;
    svg {
      height: 300px;
    }
  }
  @include responsive(0, 700px) {
    margin-bottom: 2rem;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      height: 150px;
      width: 150px;
      border: 3px solid $green;
      border-radius: 50%;
      background-color: #efefef;
    }
  }
}

.Homepage__Courses-Wrapper {
  overflow: hidden;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  2% {
    transform: translateX(100%);
  }
  46% {
    transform: translateX(0%);
  }
  54% {
    transform: translateX(0%);
  }
  98% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.Homepage__Courses-Marquee {
  animation: marquee 20s linear 1s infinite forwards;
  color: $blue;
  font-size: $small-font-size + 1;
  letter-spacing: 0.2px;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  text-align: center;
  transform-style: preserve-3d;
  word-spacing: 2px;
}

.Homepage__Courses-Body {
  align-items: flex-start;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0;
  @include responsive(0, 940px) {
    flex-direction: column;
    padding: 0;
  }
}

.Homepage__Courses-Card {
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex-basis: 40%;
  margin: 0 1rem;
  transition: all 400ms ease-in-out;
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.125);
    .Homepage__Courses-Card-Image-Cover {
      transform: translateY(0%);
      transform-style: preserve-3d;
      opacity: 1;
    }
    .Homepage__Courses-Card-Details {
      background-color: $green;
      transition: all 100ms ease-in-out;
      h4 {
        color: white;
        transition: all 200ms ease-in-out;
      }
    }
  }
  @include responsive(0, 940px) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    width: 100%;
    margin: 1rem 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      .Homepage__Courses-Card-Details {
        background-color: $green;
        h4 {
          color: white;
          transition: all 200ms ease-in-out;
        }
      }
    }
  }
}

.Homepage__Courses-Card-Image {
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  @include responsive(0, 940px) {
    flex-basis: 100%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #efefef;
    padding: 1rem 0;
    order: 2;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    img {
      width: 200px;
      height: 100%;
    }
  }
}

.Homepage__Courses-Card-Image-Cover {
  align-items: center;
  background-color: #fff;
  border: 3px solid $green;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  left: 0;
  opacity: 0;
  padding: 1rem 1rem;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: all 400ms ease-in-out;
  width: 100%;
  z-index: 49;
  a {
    cursor: pointer;
    width: 100%;
  }
  li {
    font-size: $small-font-size;
    list-style-type: disc;
    margin: 0 0 0.5rem 0.5rem;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  @include responsive(0, 940px) {
    background-color: #efefef;
    border: none;
    position: relative;
    transform: translateY(0%);
    opacity: 1;
    flex-basis: calc(100% - 220px);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    a {
      max-width: 350px;
      width: 80%;
    }
  }
}

.Homepage__Courses-Card-Details {
  text-align: center;
  padding: 1rem 0;
  background-color: #fff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: all 400ms ease-in-out;
  h4 {
    text-transform: uppercase;
    font-size: 16px;
    color: $green;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 0;
  }
  @include responsive(0, 940px) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    flex-basis: 100%;
    background-color: $green;
    order: 1;
    h4 {
      color: white;
    }
  }
}

.Homepage__Class-Tutors {
  height: 100%;
}

.Homepage__Class-Tutors-Wrapper {
  margin: 2rem;
}

.Homepage__Class-Tutors-Body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include responsive(0, 700px) {
    flex-wrap: wrap;
  }
}

.Homepage__Class-Tutors-Text {
  flex-basis: 40%;
  padding: 0 1rem;
  p {
    margin-bottom: 2rem;
  }
  @include responsive(0, 940px) {
    flex-basis: 50%;
  }
  @include responsive(0, 700px) {
    order: 2;
    flex-basis: 100%;
    p.lead {
      text-align: center;
      margin-bottom: 1.5rem;
      font-weight: $font-bold;
    }
  }
}

.Homepage__Class-Tutors-Text-Link {
  width: 320px;
  @include responsive(0, 700px) {
    margin: 1rem auto;
  }
}

.Homepage__Class-Tutors-Image {
  flex-basis: 60%;
  padding: 0 1rem;
  svg {
    height: 350px;
    width: 100%;
  }
  @include responsive(701px, 940px) {
    flex-basis: 45%;
    svg {
      height: 300px;
    }
  }
  @include responsive(0, 700px) {
    order: 1;
    margin-bottom: 2rem;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      height: 150px;
      width: 150px;
      border: 3px solid $green;
      border-radius: 50%;
      background-color: #efefef;
    }
  }
}

.Homepage__Testimonials {
  height: 225px;
  padding: 0;
  @include responsive(0px, 940px) {
    height: auto;
  }
}

.Homepage__Testimonials-Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  a {
    width: 300px;
  }
  @include responsive(0px, 940px) {
    flex-direction: column;
    height: auto;
  }
}

.Homepage__Testimonials-Text {
  height: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h4 {
    color: #fff;
  }
  span {
    color: lighten($blue, 20);
    margin: 0 0.5rem;
  }
  &:first-child {
    span {
      color: lighten($green, 10);
    }
  }
  @include responsive(0px, 940px) {
    height: 250px;
    flex-basis: auto;
    width: 100%;
    padding: 2rem 0;
    h4,
    a {
      margin: 0;
    }
  }
}

.Homepage__Mentions {
  padding: 2rem;
  height: auto;
}

.Homepage__Mentions-Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  @include responsive(0px, 940px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.Homepage__Mention {
  margin: 1rem;
  flex-basis: calc(33.33% - 1rem);
  img {
    height: 200px;
    width: auto;
    margin-bottom: 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.125);
  }
  figcaption {
    text-align: center;
    color: $green;
    font-size: $root-font-size;
  }
  @include responsive(768px, 940px) {
    flex-basis: calc(50% - 1rem);
    &:first-child {
      margin: 0 1rem 1rem 0;
    }
    &:nth-child(2) {
      margin: 0 0 1rem 1rem;
    }
    &:nth-child(3) {
      margin: 0 1rem 1rem 0;
    }
    img {
      max-height: 200px;
    }
  }
  @include responsive(0, 767px) {
    flex-basis: 100%;
    text-align: center;
    img {
      min-height: 180px;
      max-height: 220px;
      min-width: 200px;
      max-width: 90%;
    }
  }
}
